.list-group {
    width: 60%;

    & .list-group-item {
        padding: 0;
    }
}

.nav-item {

    & .item {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &.active {
            background-color: #cf2338;
            color: #fafcfc;
            border-radius: 4px;
            font-weight: bold;
        }
    }
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    &.row>* {
        //padding: 0;
    }

    & img {
        width: 100px;
    }

    & span {
        color: #cf2338;
        font-size: 18px;
        font-weight: bold;
    }

}

.controller-nav {
    
    &.row>* {
        //padding: 0;

        &.col {
            & .list-group {
                width: 100%;

                & .list-group-item {
                    & .icon-nav {
                        visibility: hidden;
                        position: absolute;
                    }
                }
            }

        }

    }

}

@media (max-width: 1199px) {
    .container-nav {
        &.container {
            padding: 0px 0px;
        }
    }

    .nav-item {

        & .item {
            padding: 12px 0px;
    }
}

    .controller-nav {
        &.row>* {
            padding: 0;

            &.col {
                & .list-group {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    box-shadow: 0px 0px 5px 0px #e0e0e0;

                    & .list-group-item {
                        border-radius: 5px;
                        border: 0;
                        width: 200px;
                        font-size: 13px;
                        text-align: center;
                    }

                    & .list-group-item:hover {
                        background-color: #e0e0e0;
                    }

                }
            }
        }
    }

    .logo {
        text-align: center;

        & img {
            margin-bottom: 20px;
        }

    }

}

@media (max-width: 995px) {
    .controller-nav {
        &.row>* {
            padding-left: 0;

            &.col {
                & .list-group {

                    & .list-group-item {
                        & span {
                            position: absolute;
                            visibility: hidden;
                        }

                        & .icon-nav {
                            font-size: 18px;
                            visibility: unset;
                            position: unset;
                        }
                    }

                }
            }
        }
    }

    .logo {

        & img {
            width: 80px;
            margin-bottom: 20px;
        }

        & span {
            font-size: 15px;
        }

    }

}
