.title-manage-assignment {
    & h5 {
        color: #cf2338;
    }

    & .row-title-manage-assignment {
        margin-top: 30px;
        display: flex;

        & .filter-assignment {
            display: flex;

            & .dropdown-title {
                margin-right: 20px;
            }
        }

        & .searh-btn-assignment {
            display: flex;

            & .col-search {
                width: 63%;
                margin-right: 20px;
            }

            & .col-create {
                float: right;
            }
        }

        & .searh-btn-asset {
            display: flex;
            & .col-search {
                width: 70%;
                margin-right: 20px;
            }

            & .col-create {
                float: right;
            }
        }
    }

    & .dropdown-toggle::after {
        content: none;
    }

    & .box-control {
        margin: 0;
    }

    & .box-control input {
        padding: 8px 20px;
    }

    & .dropdown-toggle {
        background: white;
        border: 1px solid black;
        color: black;
        // font-size: 0.8rem;
        padding: 7px 0px;

        & .type {
            margin-right: 40px;
            padding: 10px;
            // font-size: 0.8rem;
        }

        & span {
            padding: 8px;
        }

        & .fa-filter {
            // font-size: 0.8rem;
            border-left: 1px solid black;
        }
    }

    & .dropdown-menu {
        min-width: 16rem;

        & .dropdown-item:active {
            background-color: white;
        }

        & .form-check-input:checked:disabled {
            opacity: 1;
        }

        & .form-check-input:checked {
            background-color: #cf2338;
            border-color: #cf2338;
        }

        & .input-group {
            padding-left: 10px;
        }

 

    }

    & .col-search {
        padding-right: 0;

        & .input-group {
            // font-size: 0.8rem;
            width: 100%;
            float: right;

            & .form-control {
                // font-size: 0.8rem;
                border: 1px solid black;
            }

            & .btn-search {
                z-index: unset;
            }
        }
    }

    & .col-create {
        padding-left: 0;
    }

    & .input-group-text {
        border: none;
        background-color: white;
    }


    & .btn-create-new-assignment {
        float: right;
        background: #cf2338;
        border: 1px solid #cf2338;
    }

    & .btn-create-new-assignment:hover {
        background-color: #cf2338;
        background: #cf2338;
        border: 1px solid #cf2338;
    }

    & .alert-message {
        width: 80%;
        margin-left: 5px;
        margin-top: 5px;
    }

    & .box-control span {
        margin: 0px;
    }

    & .box-control {
        width: 40%;
        & .input-form-date-asm-list {
            width: 100%;
            border: 1px solid black;
            display: flex;
            padding: 0;
            & input.date-picker-view {
                width: 100%;
                border: 1px solid white;
                padding: 7px;
                border: 0px;
            }

            & .fa-filter-date-asm {
                height: 37px;
                margin-bottom: 0px;
                border-left: 1px solid black;
                position: absolute;
                margin-left: 85%;
                padding-left: 4%;
                margin-top: 0px;
            }

            & svg {
                color: black;
            }

            & .react-datepicker__year-dropdown .react-datepicker__year-option:first-child::before {
                content: "\25B2";
                position: absolute;
                top: 5px;
                left: 45%;
                margin: auto;
            }

            & .react-datepicker__year-dropdown::after {
                content: "\25BC";
                display: block;
                position: absolute;
                margin-top: -27px;
                margin-left: 52px;
               
            }

            & .react-datepicker__year-dropdown.react-datepicker__year-dropdown--scrollable {
                width: 180px;
                height: 250px;
            }
        }

    }

}


@media (max-width: 1600px) {
    .title-manage-assignment {
        & .row-title-manage-assignment {

            & .searh-btn-assignment {

                & .col-search {
                    width: 57.5%;
                    // margin-left: 6%;
                }

            }

            & .searh-btn-asset {
                & .col-search {
                    width: 69.2%;
                }

            }
        }
    }

    @media (max-width: 1510px) {
        .title-manage-assignment {

            & .row-title-manage-assignment {
                display: unset;

                & .searh-btn-asset {
                    display: unset;

                    & .col-search {
                        width: 100%;
                        margin-top: 20px;
                    }

                    & .col-create {
                        margin-top: 20px;
                        float: left;
                    }

                }

                & .searh-btn-asset {
                    display: unset;

                    & .col-search {
                        width: 100%;
                        margin-top: 20px;
                    }

                    & .col-create {
                        margin-top: 20px;
                        float: left;
                    }
                }
            }

            & .input-form-date-asm-list {

                & .fa-filter-date-asm {
                    margin-left: 155px;
                }
            }
        }
    } 

    @media (max-width: 1450px) {
        .title-manage-assignment {

            & .row-title-manage-assignment {
                display: unset;

                & .searh-btn-assignment {
                    display: unset;

                    & .col-search {
                        width: 100%;
                        margin-top: 20px;
                    }

                    & .col-create {
                        margin-top: 20px;
                        float: left;
                    }

                }

                & .searh-btn-asset {
                    display: unset;

                    & .col-search {
                        width: 100%;
                        margin-top: 20px;
                    }

                    & .col-create {
                        margin-top: 20px;
                        float: left;
                    }
                }
            }

            & .input-form-date-asm-list {

                & .fa-filter-date-asm {
                    margin-left: 155px;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .title-manage-assignment {
            & .input-form-date-asm-list {

                & .fa-filter-date-asm {
                    margin-left: 175px;
                }
            }
        }
    }
}

@media (max-width: 575px) {

    .col-create {
        width: 100%;
    }

    .title-manage-assignment {
        & .btn-create-new-assignment {
            width: 100%;
        }

        & .box-control {
            & .input-form-date-asm-list {
    
                & .fa-filter-date-asm {
                    margin-left: 80%;
    
                }
    
            }
    
        }
    
    }
    

    

}